#app {
  font-family: 'Heebo-regular';
  direction: rtl;
}
 .backdrop{
  display: none;
  position: fixed;
  inset: 0;
  height: 102vh;
  width: 100vw;
  background-color: black;
  opacity: 0.4;
  z-index: 4;

  @include mqRange(mobile, tablet) {
    display: block;
  }
 }

.homepage_container{
  position: relative;
  text-align: start;

.whatsapp, .widget {
  position: fixed;
  cursor: pointer;
  transition: all 0.3s;
  right: 20px;
  bottom: 20px;
  max-width: 6.5rem;
  max-height: 6.5rem;
  z-index: 20;

  &:hover {
    max-width: 7rem;
    max-height: 7rem;
  }

  @include mq(mobile) {
    max-width: 5.5rem;
    max-height: 5.5rem;

    &:hover {
      max-width: 6rem;
      max-height: 6rem;
    }
  }
}


.widget{
  bottom: 90px;

  @include mq(mobile) {
    bottom: 80px;
  }
}

}

.contact_button {
  font-family: "Heebo-light";
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  max-width: 33rem;
  padding: 1.5rem 3.5rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: white;
  border: 0;
  background-color: #3c3f40;
  color: white;
  font-weight: 900;
  transition: 0.3s all;

  @include mq('sLaptop'){
    font-size: 1.8rem;
    max-width: 30rem;
  }

  @include mq(mobile) {
    font-size: 1.5rem;
    padding: 1.2rem 2.5rem;
  }

  &.peach{
      color: rgb(252 241 233);
  }

  &:hover {
  background-color: #4e5152;
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 6px 12px;
  }
}

.marked {
  position: relative;
  left: -0.5em;
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 217, 192, 0.1),
    rgba(255, 217, 192, 0.7) 4%,
    rgba(255, 217, 192, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}






