@font-face {
  font-family: Heebo-light;
  src: url('/src/assets/fonts/Heebo/Heebo-Light.ttf');
}

@font-face {
  font-family: Heebo-bold;
  src: url('/src/assets/fonts/Heebo/Heebo-Bold.ttf');
}


@font-face {
  font-family: Heebo-regular;
  src: url('/src/assets/fonts/Heebo/Heebo-Regular.ttf');
}

@font-face {
  font-family: Heebo-SemiBold;
  src: url('/src/assets/fonts/Heebo/Heebo-SemiBold.ttf');
}

@font-face {
  font-family: Heebo-Medium;
  src: url('/src/assets/fonts/Heebo/Heebo-Medium.ttf');
}

@font-face {
  font-family: Heebo-Black;
  src: url('/src/assets/fonts/Heebo/Heebo-Black.ttf');
}